<% form_for @order do |f| %>
	<div>
		Customer<br />
		<%= f.collection_select :customer_id, Customer.all, :id, :name %>
	</div>

	<br />

	<div>
		PO Number<br />
		<%= f.text_field :po_num %>
	</div>

	<br />

	<div>
		Start Date<br />
		<%= f.text_field :start_date, 'data-behaviour' => 'datepicker' %>
		<%#= f.text_field :start_date %>
	</div>

	<br />

	<div>
		Cancel Date<br />
		<%= f.text_field :cancel_date, 'data-behaviour' => 'datepicker' %>
		<%#= f.text_field :cancel_date %>
	</div>

	<br />

	<div>
		Number of Cartons<br />
		<%= f.text_field :num_cartons %>
	</div>

	<br />

	<div>
		Container No.<br />
		<%= f.collection_select :container_id, Container.all, :id, :num_cartons %>
	</div>

	<br />	
	<div><%= f.submit %> <%= button_tag "Reset", type: :reset %></div>
	
	<%= link_to "Cancel and go back", orders_path %>
<% end %>


			<!-- NO CLUE WHERE THIS GOES.... -->
		<script type="text/javascript">
		  $(document).ready(function(){
		    $('[data-behaviour~=datepicker]').datepicker();
		  })
		</script>