<tr>	
	<td><%= order.customer.name %></td>
	<td><%= link_to order.po_num, order %></td>
	<td><%= order.start_date %></td>
	<td><%= order.cancel_date %></td>
	<td><%= order.num_cartons %></td>

	<td><%= link_to "Edit", edit_order_path(order)%></td>
	<td><%= button_to "Delete", order_path(order), {method: :delete, confirm: "Are you sure you want to delete this order?"}%></td>
</tr>