
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="panel panel-default ">
      <!-- Default panel contents -->
      <div class="panel-heading", onclick="window.location.href = '<%= url_for order_path(order) %>'"><%= order.customer.name %></div>
      <!-- Table -->
      <table class="table">
        <tr onclick="window.location.href = '<%= url_for order_path(order) %>'">
            <td><%= link_to order.po_num, order %></td>
        </tr>
        <tr onclick="window.location.href = '<%= url_for order_path(order) %>'">
            <td><%= order.start_date.strftime '%-m/%-d/%-y' %></td>
            <td><%= order.cancel_date.strftime '%-m/%-d/%-y' %></td>
        </tr>
      </table>
    </div>
</div>

